# Database Configuration (Development)
DATABASE_URL="mysql://root:rootpassword@mysql:3306/library"
DB_NAME=library
DB_PASSWORD=rootpassword

# Application Settings
NODE_ENV=development
BASE_URL=http://localhost:3000
CERT_DIR=""
